@mehdisaffar:registry=https://npm.pkg.github.com
@mehdisaffar:username=mehdisaffar
# @mehdisaffar:email=saffar.mehdi3@gmail.com
@mehdisaffar:always-auth=true
@mehdisaffar:strict-ssl=false
# //npm.pkg.github.com/:_authToken=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
